/*Resets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebeae9;
    margin: 1rem;
}

html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Nav start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 20px;
    margin-bottom: 5rem;
}

nav ul{
    margin-left: 5rem;
    list-style: none;
}

li a {
   text-decoration: none; 
   color: black;
}

nav .burger{
    margin-right: 5rem;
    cursor: pointer;
}

nav .burger span{
    height: 4px;
    border: 2px solid black;
    margin: 4px;
    background-color: black;
}

/*Nav end */

/*Header start*/
header{
    margin: 6rem;
}

.main-headings{
    width: 50%;
    font-size: 3rem;
}

.primary-headings{
    width: 50%;
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height:30px ;
}